<ul class="tags" aria-label="Tags relevantes" role="list">
    {{#if tags2Item}}
    <li><span>TextChip</span></li>
    <li><span>TextChip</span></li>
    {{else if tags3Item}}
    <li><span>TextChip</span></li>
    <li><span>TextChip</span></li>
    <li><span>TextChip</span></li>
    {{/if}}
</ul>