<section class="card-grid">
    <div class="cnt">
        <div class="heading">
          <h3>Lorem ipsum dolor sit</h3>
          <p>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
        </div>

        <div class="grid grid--2 grid--4-fsm">
            <div class="grid__col">
                {{> card }}
            </div>
            <div class="grid__col">
                {{> card }}
            </div>
            <div class="grid__col">
                {{> card }}
            </div>
            <div class="grid__col">
                {{> card }}
            </div>
            <div class="grid__col hide-xs">
                {{> card }}
            </div>
            <div class="grid__col hide-xs">
                {{> card }}
            </div>
            <div class="grid__col hide-xs">
                {{> card }}
            </div>
            <div class="grid__col hide-xs">
                {{> card }}
            </div>
        </div>
    </div>
</section>