<article class="card">
    <div class="card__media">
        <img src="assets/images/card-item-01.jpg" alt="">
        <button class="btn btn--like {{#if liked}}is-liked{{/if}}">
            {{> svgs/icon-heart }}
        </button>
    </div>
    <div class="card__content">
        <ul class="tags">
            <li><span>TextChip</span></li>
            <li><span>TextChip</span></li>
            <li><span>TextChip</span></li>
        </ul>
        <span class="card__date">10/05/2022</span>
        <p class="card__title">Sed donec blandit amet fames morbi donec tincidunt.</p>
        <p class="card__desc">Velit non id lacus eros montes. Arcu quis facilisis ut sed tempor vitae non adipiscing. Quam quis arcu ac in vulputate diam at tellus urna. Amet mi elementum morbi malesuada ante gravida faucibus dignissim. Nulla eget vitae egestas purus arcu massa aliquam massa.</p>
        <div class="card__price">
            <span class="card__price-txt">Desde</span>
            <span class="card__price-qty">2.031€</span>
        </div>
        <div class="btn-cnt">
            <a href="#" class="btn btn--m btn--secondary">
                <span>Call to Action</span>
            </a>
            <a href="#" class="btn btn--m">
                <span>Call to Action</span>
            </a>
        </div>
    </div>
</article>