<section class="featured-main">
    <div class="cnt">
        <div class="heading">
          <h3>Los mejores destinos</h3>
          <p>Explora los mejores destinos del mundo, desde las playas paradisíacas de Maldivas hasta las montañas majestuosas de los Alpes. Cada lugar ofrece una experiencia única.</p>
        </div>

        <div class="grid grid--12">
            <div class="grid__col grid__col--12">
                <img src="assets/images/main-01.jpg" alt="">
            </div>

            <div class="grid__col grid__col--6">
                <img src="assets/images/main-02.jpg" alt="">
            </div>
            <div class="grid__col grid__col--6">
                <img src="assets/images/main-03.jpg" alt="">
            </div>

            <div class="grid__col grid__col--4 hide-xs">
                <img src="assets/images/main-04.jpg" alt="">
            </div>
            <div class="grid__col grid__col--4 hide-xs">
                <img src="assets/images/main-05.jpg" alt="">
            </div>
            <div class="grid__col grid__col--4 hide-xs">
                <img src="assets/images/main-06.jpg" alt="">
            </div>
        </div>
    </div>
</section>