<section class="featured-details">
  <div class="cnt cnt--fw-fxs">
    <div class="featured-details__item">
      <div class="featured-details__item-block">
        <img src="assets/images/featured-01.jpg" alt="">
      </div>
      
      <div class="featured-details__item-block">
        <div class="heading">
          <h3>Cancún</h3>
          <p>Cancún es una ciudad vibrante famosa por sus playas y vida nocturna. Con aguas cristalinas y arenas blancas, es un paraíso para los amantes del sol.</p>
          <a href="#" class="btn btn--l">
            <div class="btn__icon">
              {{> svgs/icon-plane }}
            </div>
            <span>Viajar</span>
            <div class="btn__icon">
              {{> svgs/icon-arrow-right }}
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="featured-details__item">
      <div class="featured-details__item-block">
        <img src="assets/images/featured-02.jpg" alt="">
      </div>

      <div class="featured-details__item-block">
        <div class="heading">
          <h3>La romana</h3>
          <p>Imagina un impresionante destino de playa donde las arenas doradas se encuentran con aguas cristalinas. Las suaves olas te invitan a relajarte bajo el cálido sol, mientras las palmeras se mecen con la suave brisa.</p>
          <a href="#" class="btn btn--l">
            <div class="btn__icon">
              {{> svgs/icon-umbrella-beach }}
            </div>
            <span>Ver más</span>
            <div class="btn__icon">
              {{> svgs/icon-arrow-right }}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>