<footer class="foot">
  <div class="cnt">
    <div class="foot__head">
      <a href="#">
        {{> svgs/logo-footer }}
      </a>
    </div>

    <div class="foot__body">
      <div class="grid grid--12">
        <div class="grid__col grid__col--6">
          <p>Cursus pretium a vel neque gravida eros mauris aliquam senectus. Cum volutpat arcu fames maecenas tortor ac. Suspendisse quis in duis curabitur sit sed porttitor a. Nec aliquet enim at enim tincidunt eget sed gravida. Egestas fermentum urna sed etiam aliquam.</p>
        </div>

        <div class="grid__col grid__col--6">
          <ul class="foot__perks">
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="icon">{{> svgs/icon-arrow-right }}</div>
                <span>Lorem ipsum dolor</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <span class="sep sep--icon sep--icon-center">
      {{> svgs/icon-circle-person }}
    </span>

    <div class="foot__copy">
      <span>© 2024 Manifest</span>

      <ul class="foot__brands">
        <li>
          <a href="#">
            {{> svgs/icon-brand-01 }}
          </a>
        </li>
        <li>
          <a href="#">
            {{> svgs/icon-brand-02 }}
          </a>
        </li>
        <li>
          <a href="#">
            {{> svgs/icon-brand-03 }}
          </a>
        </li>
        <li>
          <a href="#">
            {{> svgs/icon-brand-01 }}
          </a>
        </li>
        <li>
          <a href="#">
            {{> svgs/icon-brand-02 }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>