<section class="hero">
    <div class="cnt cnt--fw">
        <div class="hero__bg">
            <img src="assets/images/hero-bg.jpg" alt="">
        </div>
        
        <div class="cnt">
            {{> nav }}

            <div class="hero__content">
                <h2 class="hero__title">Explora el mundo: Tu guía de viajes perfecta</h2>            
                <span class="sep sep--icon sep--icon-center">
                    {{> svgs/icon-circle-person }}
                </span>
                <h3 class="hero__sub">Explora destinos increíbles y vive aventuras inolvidables.</h3>
                <p class="hero__desc">Ofrecemos una amplia gama de destinos, desde playas paradisíacas hasta montañas majestuosas, para que encuentres el lugar perfecto para tu próxima escapada.</p>

                <a href="#" class="btn btn--l">
                    <span>Viajar</span>
                    <div class="btn__icon">
                        {{> svgs/icon-arrow-right }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>