<nav class="nav">
    <div class="nav__logo">
        {{> svgs/logo-manifest }}
    </div>

    <button class="nav__burger">
        X
    </button>
    
    <ul class="nav__navbar">
        <li>
            <a href="#">
                <span>Inicio</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Nosotros</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Viajes</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Contacto</span>
            </a>
        </li>
    </ul>
</nav>