<section class="pricing">
  <div class="cnt">
    <div class="heading">
      <h3>Flexible pricing for everyone</h3>
      <p>Choose the best plan for your needs</p>
    </div>

    <div class="pricing__table">
      <div class="pricing__features">
        <div class="pricing__feature">
          <span>Feature 1</span>
        </div>
        <div class="pricing__feature">
          <span>Feature 2</span>
        </div>
        <div class="pricing__feature">
          <span>Feature 3</span>
        </div>
        <div class="pricing__feature">
          <span>Feature 4</span>
        </div>
        <div class="pricing__feature">
          <span>Feature 5</span>
        </div>
        <div class="pricing__feature">
          <span>Feature 6</span>
        </div>
      </div>
      <div class="pricing__plans">
        <div class="pricing__plan">
          <div class="pricing__plan-header">
            <span class="pricing__plan-level">Basic</span>
            <span class="pricing__plan-price">$9.99</span>
            <a href="#" class="btn btn--bdr btn--secondary">
              <span>Select</span>
            </a>
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
        </div>
        <div class="pricing__plan pricing__plan--featured">
          <div class="pricing__plan-header">
            <span class="pricing__plan-level">Pro</span>
            <span class="pricing__plan-price">$19.99</span>
            <a href="#" class="btn">
              <span>Start with Plus</span>
            </a>
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
        </div>
        <div class="pricing__plan">
          <div class="pricing__plan-header">
            <span class="pricing__plan-level">Entreprise</span>
            <span class="pricing__plan-price">$29.99</span>
            <a href="#" class="btn btn--bdr btn--secondary">
              <span>Select</span>
            </a>
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
          <div class="pricing__plan-feature">
            {{> svgs/icon-tick }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>