<section class="pricing">
    <div class="cnt">
        <div class="heading">
          <h3>Flexible pricing for everyone</h3>
          <p>Choose the best plan for your needs</p>
        </div>
    </div>
</section>
