<section class="featured-details">
  <div class="cnt cnt--fw-fxs">
    <div class="featured-details__i">
      <div class="featured-details__i-blk">
        <img src="assets/images/featured-01.jpg" aria-hidden="true">
      </div>
      
      <div class="featured-details__i-blk">
        {{> components/heading
            title="Cancún"
            desc="Cancún es una ciudad vibrante famosa por sus playas y vida nocturna. Con aguas cristalinas y arenas blancas, es un paraíso para los amantes del sol."
            btn=true
            btnIsLink=true
            btnClasses="btn--l"
            btnText="Viajar"
            btnHasIcon=true
            iconPlane=true
            btnHasArrowRight=true
            btnAriaLabel="Viaja a Cancún"
        }}
      </div>
    </div>

    <div class="featured-details__i">
      <div class="featured-details__i-blk">
        <img src="assets/images/featured-02.jpg" aria-hidden="true">
      </div>

      <div class="featured-details__i-blk">
        {{> components/heading
            title="La romana"
            desc="Imagina un impresionante destino de playa donde las arenas doradas se encuentran con aguas cristalinas. Las suaves olas te invitan a relajarte bajo el cálido sol, mientras las palmeras se mecen con la suave brisa."
            btn=true
            btnIsLink=true
            btnClasses="btn--l"
            btnText="Viajar"
            btnHasIcon=true
            iconUmbrellaBeach=true
            btnHasArrowRight=true
            btnAriaLabel="Viaja a La Romana"
        }}
      </div>
    </div>
  </div>
</section>