<section class="featured-main">
    <div class="cnt">
        {{> components/heading
            title="Los mejores destinos"
            desc="Explora los mejores destinos del mundo, desde las playas paradisíacas de Maldivas hasta las montañas majestuosas de los Alpes. Cada lugar ofrece una experiencia única."
        }}

        <div class="grid grid--12">
            <div class="grid__col grid__col--12">
                <img src="assets/images/main-01.jpg" aria-hidden="true">
            </div>

            <div class="grid__col grid__col--6">
                <img src="assets/images/main-02.jpg" aria-hidden="true">
            </div>
            <div class="grid__col grid__col--6">
                <img src="assets/images/main-03.jpg" aria-hidden="true">
            </div>

            <div class="grid__col grid__col--4 hide-xs">
                <img src="assets/images/main-04.jpg" aria-hidden="true">
            </div>
            <div class="grid__col grid__col--4 hide-xs">
                <img src="assets/images/main-05.jpg" aria-hidden="true">
            </div>
            <div class="grid__col grid__col--4 hide-xs">
                <img src="assets/images/main-06.jpg" aria-hidden="true">
            </div>
        </div>
    </div>
</section>