@use './globals' as *;

.btn {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-height: 40px;
    padding: 0 18px;
    background: $cp1;
    border-radius: 8px;
    text-align: center;
    transition: opacity .3s, padding-right .3s;

    span {
        font: 16px/24px $tp1;
        color: $cb2;

        + .btn__icon {
            width: 18px;
            height: 15px;
            transition: transform .3s;
        }
    }

    &__icon {
        width: 20px;
        height: auto;
    }

    &:has(span + .btn__icon) {
        &:hover {
            padding-right: 24px;

            span {
                + .btn__icon {
                    transform: translateX(8px);
                }
            }
        }
    }
}

.btn--secondary {
    background: $cg2;

    span {
        color: $cb1;
    }
}

.btn--m {
    min-height: 40px;
}

.btn--l {
    min-height: 56px;
}

.btn--like {
    border-radius: 100%;
    width: 32px;
    min-height: 32px;
    height: 32px;
    padding: 0;
    background: $cb2;
    border: 0;
    cursor: pointer;
    transition: scale .3s;

    &:hover {
        scale: 1.1;
    }

    svg {
        width: 18px;
        height: auto;
    }

    &.is-liked {
        background: $cp1;

        svg {
            path {
                fill: $cb2;
            }
        }
    }
}

.btn-cnt {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;

    .btn {
        flex: 1 0 0;
    }
}