@use './globals' as *;

.card {
    background: $cb2;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

    &__media {
        position: relative;
        
        .btn {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        background: $cb2;
    }

    &__date {
        font: 12px/16px $tp1;
        font-weight: 400;
        color: $cg1;
    }

    &__title {
        font: 20px/28px $tp1;
        font-weight: 700;
        color: $cg1;
    }

    &__desc {
        font: 14px/20px $tp1;
        font-weight: 400;
        color: $cg1;
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-txt {
            font: 16px/22px $tp1;
            font-weight: 400;
            color: $cg1;
        }

        &-qty {
            font: 20px/28px $tp1;
            font-weight: 700;
            color: $cg1;
        }
    }
}