@use './globals' as *;

.foot {
    padding: 64px 0 32px;
    background: $cp1;

    &__head {
        margin: 0 0 16px;
        text-align: center;

        @media (min-width: 699px) {
            text-align: left;
        }

        svg {
            width: 160px;
            height: 24px;
        }
    }

    p {
        font: 14px/20px $tp1;
        color: $cb2;

        @media (min-width: 699px) {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__perks {
        @media (min-width: 699px) {
            columns: 3 auto;
        }

        li {
            &:nth-child(5n):not(:last-child) {
                margin-bottom: 24px;
                
                @media (min-width: 699px) {
                    margin-bottom: 0;
                }
            }

            > a {
                display: flex;
                gap: 8px;
                align-items: center;
            }

            svg {
                width: 12px;
                height: 10px;
            }

            span {
                font: 16px/24px $tp1;
                color: $cb2;
            }
        }
    }

    &__copy {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (min-width: 699px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;    
        }

        > span {
            font: 14px/20px $tp1;
            color: $cb2;
        }
    }

    &__brands {
        display: flex;
        gap: 16px;
        align-items: center;

        svg {
            width: 24px;
            height: 24px;
        }
    }
}