@use './globals' as *;

.heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 660px;
    margin: 0 0 32px;

    @media (min-width: 699px) {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    h3 {
        font: 31px/43px $tp1;
        font-weight: 600;
        color: $cp1;
    }

    p {
        font: 16px/22px $tp1;
        color: $cg1;
    }
}