@use './globals' as *;

.hero {
    position: relative;
    width: 100%;
    height: 768px;
    padding: 0;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $cb1;
            opacity: .5;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        max-width: 1300px;
        position: relative;
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 1;

        @media (min-width: 699px) {
            gap: 32px;
        }
    }

    &__title {
        font: 61px/73px $tp1;
        font-weight: 600;
        color: $cb2;
    }

    &__sub {
        font: 31px/43px $tp1;
        font-weight: 600;
        color: $cb2;
    }

    &__desc {
        font: 16px/22px $tp1;
        font-weight: 400;
        color: $cb2;
    }

    .btn {
        &:hover {
            opacity: 1;
        }
    }
}