@use './globals' as *;

.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    transform: translateX(-24px);
    height: 48px;
    margin-bottom: 0;
    padding-top: 40px;
    box-sizing: content-box;
    z-index: 1;

    @media (min-width: 699px) {
        width: 100%;
        margin-bottom: 160px;
    }

    &__logo {
        width: auto;
        height: 100%;
        max-height: 48px;
    }

    &__burger {
        display: block;

        @media (min-width: 699px) {
            display: none;
        }
    }

    &__navbar {
        display: flex;
        gap: 16px;

        li {
            font: 16px/24px $tp1;
            font-weight: 600;
            
            a {
                color: $cb2;
            }
        }
    }
}