@use './globals' as *;

.tags {
    display: flex;
    gap: 8px;

    li {
        min-height: 24px;
        padding: 4px 8px;
        background: $cg2;
        border-radius: 24px;

        span {
            font: 12px/16px $tp1;
            color: $cg1;
        }
    }
}