@use './globals';

@use './reset';

@use './grid';

@use './nav';
@use './separator';
@use './heading';
@use './btn';
@use './tags';
@use './card';

@use './hero';
@use './featured-main';
@use './featured-details';
@use './card-grid';
@use './pricing';
@use './contact';
@use './footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  transition: opacity .3s;

  &:hover {
    opacity: .8;
  }
}

img {
  border-style: none;
  display: block;
  width: 100%;
  height: auto;
}

section {
  padding: 64px 0;

  @media (min-width: 699px) {
    padding: 80px 0;
  }
}

.hide-xs {
  @media (max-width: 699px) {
    display: none;
  }
}